#
cocos2dx_playground/cocos2d/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cocos2dx_playground/proj.win32/.vs/*
cocos2dx_playground/proj.win32/Debug.win32/*
cocos2dx_playground/proj.win32/Release.win32/*
