<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>step_flipflip_card_back_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,120}</string>
                <key>spriteSourceSize</key>
                <string>{78,120}</string>
                <key>textureRect</key>
                <string>{{2,2},{78,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>step_flipflip_card_front_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,120}</string>
                <key>spriteSourceSize</key>
                <string>{78,120}</string>
                <key>textureRect</key>
                <string>{{82,2},{78,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>step_flipflip_card_front_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,120}</string>
                <key>spriteSourceSize</key>
                <string>{78,120}</string>
                <key>textureRect</key>
                <string>{{162,2},{78,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>step_flipflip_card_front_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,120}</string>
                <key>spriteSourceSize</key>
                <string>{78,120}</string>
                <key>textureRect</key>
                <string>{{2,124},{78,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>step_flipflip_card_front_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,120}</string>
                <key>spriteSourceSize</key>
                <string>{78,120}</string>
                <key>textureRect</key>
                <string>{{82,124},{78,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>step_flipflip_card_front_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,120}</string>
                <key>spriteSourceSize</key>
                <string>{78,120}</string>
                <key>textureRect</key>
                <string>{{162,124},{78,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>step_flipflip_textures.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25562bb1c1f53828212a43768cb14cee:f055c0c4142ece8636be6005f2b9de5e:a55b241e3d14adfbcdb6355af10c05cb$</string>
            <key>textureFileName</key>
            <string>step_flipflip_textures.png</string>
        </dict>
    </dict>
</plist>
